@import '../../../sass/global.scss';

.historyContainer {
  height: 90%;
  width: 10vw;
  margin: 0 1rem 0;
  border: 2px solid $border-global;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
}

.moveContainers {
  display: flex;
  align-items: center;
  width: 100%;
  background: $current;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem;
  margin-bottom: 1rem;

  &:hover {
    background: $border-local;
    cursor: pointer;
  }
}

.moveContainers__bottom {
  @extend .moveContainers;
  margin-bottom: 0;
}

.number {
  font-size: 1.4rem;
}

.move {
  font-size: 2rem;
}

.winnerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  background: $recent;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem;
  margin-bottom: 1rem;

  &:hover {
    background: $border-local;
    cursor: pointer;
  }
}

.winner {
  font-size: 2rem;
}
