@import '../../../sass/global.scss';

.globalSquare {
  @extend %global-square;
  border: 2px solid $border-global;
}

.globalSquare__playable {
  @extend .globalSquare;
  background: $current;
}

.globalSquare__potential {
  @extend .globalSquare;
  background: $potential;
}
