@import '../../../../node_modules/open-color/open-color.scss';

// colors
$background: $oc-blue-1;
$color: $oc-blue-9;

$board-global: $oc-blue-5;
$border-local: $oc-blue-4;

$stroke: $color;
$hover: $board-global;
$recent: $oc-red-5;
$current: $oc-blue-2;
$potential: $oc-yellow-2;

// fonts
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
