@import '../../../../node_modules/open-color/open-color.scss';

// sizes
$cell-size: 5rem;
$mark-size: calc($cell-size * 0.9);

// colors
$background: $oc-blue-1;
$color: $oc-blue-9;
$color-lighter: $oc-blue-6;

$border-global: $oc-blue-5;
$border-local: $oc-blue-4;

$stroke: $color;
$hover: $border-global;
$recent: $oc-red-5;
$current: $oc-blue-2;
$potential: $oc-yellow-2;

// fonts
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
