%square {
  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    border-top: transparent;
  }

  &:nth-child(3n + 1) {
    border-left: transparent;
  }

  &:nth-child(3n + 3) {
    border-right: transparent;
  }

  &:last-child,
  &:nth-child(8),
  &:nth-child(7) {
    border-bottom: transparent;
  }
}

%global-square {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-top: transparent;
  }

  &:nth-child(2),
  &:nth-child(6),
  &:nth-child(10) {
    border-left: transparent;
  }

  &:nth-child(4),
  &:nth-child(8),
  &:nth-child(12) {
    border-right: transparent;
  }

  &:nth-child(10),
  &:nth-child(11),
  &:nth-child(12) {
    border-bottom: transparent;
  }

  &:nth-child(1),
  &:nth-child(5),
  &:nth-child(9),
  &:nth-child(13),
  &:nth-child(14),
  &:nth-child(15),
  &:nth-child(16) {
    border: transparent;
  }
}
