@import '../../sass/global.scss';

.chatContainer {
  height: 50%;
  width: 20vw;
  margin: 1rem;
  border: 2px solid $border-global;
  display: flex;
  flex-direction: column;
}

.messageContainer {
  flex-grow: 1;
}

.inputContainer {
  background: purple;
  height: min-content;
}
