@import '../../../sass/global.scss';

.mark {
  cursor: default;

  stroke: $stroke;
}

.svg {
  width: 4rem;
  height: 4rem;
}

.svg__small {
  width: 2rem;
  height: 2rem;
}

.svg__large {
  width: 16rem;
  height: 16rem;
}

.mark__recent {
  cursor: default;
  stroke: $recent;
}

.mark__hover {
  stroke: $hover;
}
