@import '../../sass/global.scss';

.footerContaienr {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
}

.copyright {
  text-align: center;
  width: max-content;
  font-size: 0.8rem;
  transition-property: color;
  transition-duration: 100ms;

  &:hover {
    color: $border-local;
  }
}
