@import '../../sass/global.scss';

.headerContainer {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.title {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
