@import '../../sass/global.scss';

.mark {
  cursor: default;

  stroke: $stroke;
}

.svg {
  width: calc($cell-size * 0.8);
  height: calc($cell-size * 0.8);
}

.svg__small {
  width: calc($cell-size * 0.4);
  height: calc($cell-size * 0.4);
}

.svg__large {
  width: calc($cell-size * 3.2);
  height: calc($cell-size * 3.2);
}

.mark__recent {
  cursor: default;
  stroke: $recent;
}

.mark__hover {
  stroke: $hover;
}
